@import "tailwindcss";

/** {
    outline: 1px solid red;
}*/

@font-face {
    font-family: "Coolvetica";
    src: url("/src/assets/fonts/Coolvetica-Rg.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-coolvetica: "Coolvetica", sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
